/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto/roboto-v20-latin_cyrillic-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/roboto/roboto-v20-latin_cyrillic-500.woff") format("woff"),
    /* Modern Browsers */
      url("../fonts/roboto/roboto-v20-latin_cyrillic-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto/roboto-v20-latin_cyrillic-500.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto/roboto-v20-latin_cyrillic-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/roboto/roboto-v20-latin_cyrillic-700.woff") format("woff"),
    /* Modern Browsers */
      url("../fonts/roboto/roboto-v20-latin_cyrillic-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto/roboto-v20-latin_cyrillic-700.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-900.eot"); /* IE9 Compat Modes */
  src: local("Roboto Black"), local("Roboto-Black"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto/roboto-v20-latin_cyrillic-900.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/roboto/roboto-v20-latin_cyrillic-900.woff") format("woff"),
    /* Modern Browsers */
      url("../fonts/roboto/roboto-v20-latin_cyrillic-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto/roboto-v20-latin_cyrillic-900.svg#Roboto")
      format("svg"); /* Legacy iOS */
}

:root {
  --main-text-color: #212121;
  --accent-color: #2196f3;
  --title-color: #757575;
  --white: #ffffff;
  --white-background: #e5e5e5;
  --footer-background: #2f303a;
  --btn-background: #f5f4fa;
  --line: #eeeeee;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

html {
  box-sizing: border-box;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /*border: 1px solid tomato;*/
}

.header-container {
  width: 1200px;
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header {
  background-color: var(--white);
  border-bottom: 1px solid #ececec;
}

h1,
h2,
h3 {
  margin-top: 0px;
}

.section {
  padding-top: 94px;
  padding-bottom: 0px;
}

.menu {
  display: inline-flex;
}

.menu-item:not(:last-child) {
  position: relative;
  margin-right: 50px;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo-mail {
  display: inline-flex;
  align-items: center;
}

.logo-mail {
  display: block;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--title-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover .logo-mail,
.link:focus .logo-mail {
  fill: var(--accent-color);
}

.logo-phone {
  display: inline-flex;
  align-items: center;
}

.logo-phone {
  display: block;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--title-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover .logo-phone,
.link:focus .logo-phone {
  fill: var(--accent-color);
}

.header-container .logo {
  margin-right: 93px;
}

.list-link {
  display: flex;
}

.cont-link:not(:last-child) {
  margin-right: 30px;
}

.link {
  color: inherit;
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-web {
  color: var(--accent-color);
}

.logo-studio {
  color: var(--main-text-color);
}

.menu-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.active {
  color: var(--accent-color);
  /*position: relative;*/
}

.active::after {
  content: "";
  position: absolute;
  bottom: -125%;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.contact-link {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.container-item {
  display: flex;
  justify-content: center;
}

.container-menu-item:not(:last-child) {
  margin-right: 8px;
}

.btn {
  display: flex;
  justify-content: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  color: var(--main-text-color);
  background-color: var(--btn-background);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  color: var(--white);
  background-color: var(--accent-color);
}

.project-name {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin-bottom: 0px;
}

.project-form {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1, 875;
  letter-spacing: 0.03em;
  color: var(--title-color);
  padding-top: 4px;
  margin: 0px;
}

.project-item {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 54px;
}

.project-item-kind {
  display: block;
  border: 1px solid var(--line);
  width: calc((100% - 60px) / 3);
  background-color: var(--white);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item-kind > img {
  display: block;
  width: 100%;
  height: auto;
}

.project-item-kind .project-pictures > img {
  display: block;
  width: 100%;
  height: auto;
}

.project-pictures {
  position: relative;
  overflow: hidden;
}

.project-pictures-overlay {
  position: absolute;
  margin: 0px;
  top: 0px;
  left: 0px;
  padding: 63px 24px;
  max-width: 100%;
  max-height: 100%;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white);
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item-kind:hover,
.project-item-kind > .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-item-kind:hover .project-pictures-overlay,
.project-item-kind > .link:focus .project-pictures-overlay {
  opacity: 1;
  transform: translateY(0%);
}

.project-item-kind:nth-child(n + 4) {
  margin-top: 30px;
}

.project-item-kind:not(:nth-child(3n)) {
  margin-right: 30px;
}

.project-description {
  padding: 20px 24px;
}

footer {
  background-color: var(--footer-background);
  display: flex;
}

.footer {
  display: flex;
  padding-top: 60px;
}

.footer-logo {
  margin-right: 70px;
}

.footer-address {
  padding-top: 21px;
}

.logo-web-footer {
  color: var(--white);
}

.link-styles > li {
  padding-top: 9px;
}

.link-styles {
  font-style: normal;
  color: var(--white);
  padding-bottom: 60px;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.7);
}

.footer-icons {
  margin-right: 93px;
}

.footer-icons-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  padding-top: 12px;
  margin-bottom: 0px;
}

.footer-social-icons {
  display: flex;
  padding-top: 20px;
}

.footer-social-icons-items:not(:last-child) {
  margin-right: 10px;
}

.footer-social-icons-svg {
  width: 20px;
  height: 20px;
  fill: var(--white);
}

.footer-social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icons-link:hover,
.footer-social-icons-link:focus {
  background-color: var(--accent-color);
}

.footer-form {
  display: flex;
  padding-top: 20px;
}

.footer-form-fild {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
}

.footer-form-input {
  width: 100%;
  height: 100%;
  background-color: var(--footer-background);
  border: none;
  padding-left: 16px;
  outline: none;

  font-family: Roboto;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--white);
}

.footer-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-btn {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  padding: 10px 29px;
  border-radius: 4px;
  border: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: var(--white);
  color: var(--accent-color);
}

.footer-btn:hover .logo-send,
.footer-btn:focus .logo-send {
  fill: var(--accent-color);
}

.logo-send {
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--white);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input:-webkit-autofill,
.footer-form-input:-webkit-autofill:hover,
.footer-form-input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--white);
  -webkit-box-shadow: 0 0 0px 1000px var(--footer-background) inset;
}
