.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
}

.icon-check {
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  margin-right: 7px;
}

.checkbox:checked + .icon-check {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/icons/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.checkbox-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.checkbox-link {
  color: var(--accent-color);
}
