.logo-mail {
  display: inline-flex;
  align-items: center;

  & {
    display: block;
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: $title-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

}

.link:hover .logo-mail,
.link:focus .logo-mail {
  fill: $accent-color;
}

.logo-phone {
  display: inline-flex;
  align-items: center;


  & {
    display: block;
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: $title-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

}

.link:hover .logo-phone,
.link:focus .logo-phone {
  fill: $accent-color;
}


.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-web {
  color: $accent-color;
}

.logo-studio {
  color: $main-text-color;
}
